<div class="container">
	  
  <div class="row">
    <div class="col-sm-12">
       Header.........................
    </div>
    </div>
    <div class="row">
    <div class="col-sm-2">
      ads.......................
    </div>
     <div class="col-sm-4">
      Login---------------------
    </div>
     <div class="col-sm-4">
      Register--------------------
    </div>
    
    
     <div class="col-sm-2">
      ads.......................
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
      Footer.........................
  </div>
  </div>
</div>